.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  margin-top: 30px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}
#cardHangouts{
    background:
    url('../images/logo/Google-Hangouts-logo.jpg') bottom right 15% no-repeat #006600;
}
#cardSession{
    background:
    url('../images/logo/Schriftzug 320x200.png') bottom right 15% no-repeat #ff6600;
}
#GoogleLogin{
    position: relative;
    left: auto;
    top: auto;
    background: no-repeat #e0e0e0;
}
#GoogleLogo{
    position: absolute;
    left:50%;
    top:50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    border: 0;
}

div#KoBoRaBody{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

div#absendenButton {
    width: 170px;
    margin: auto;
    margin-top: 30px;
}